@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  /* colors */
  --color-orange: hsl(26, 100%, 55%);
  --color-pale-orange: hsl(25, 100%, 94%);
  --color-dark-blue: hsl(220, 13%, 13%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-grayish-blue: hsl(220, 14%, 75%);
  --color-light-grayish-blue: hsl(223, 64%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  /* typography */
  --font-size: 16px;
  --font-family: "Kumbh Sans", sans-serif;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
}
/* *****GENERAL STYLES ***** */
* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.flex {
  display: flex;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
}
.flex-sa {
  display: flex;
  justify-content: space-around;
}
body {
  height: 100vh;
}
.container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}
/* *****NAV BAR STYLES ***** */
.navbar {
  border-bottom: 2px solid var(--color-grayish-blue);
  align-items: center;
}
.toggle-nav {
  display: none;
}
.nav-links {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: var(--color-dark-grayish-blue);
  margin-left: 2rem;
}
